<%-include("navbar.ejs")%>

<div class="container-fluid bg-white p-4" style="margin-top: 20px;">
    <form action="/do_login" method="post">
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-6">
                UserMobile <br>
                <input class="form-control" type="number" name="user_mobile" id=""> <br>
               password  <br>
               <input class="form-control" type="password" name="password" id=""> <br>

               <button>Login</button>
               <br><br>
               <a href="/create_account">Create New Account</a>
            </div>

            <div class="col-md-2"></div>

        </div>
    </form>
</div>        

<%-include("footer.ejs")%>